<h5>Selecione o seu time:</h5>
<form autocomplete="off" #frm="ngForm">
    <span *ngIf="times">
      <div class="row">
       <div class="col-sm-12">
          <table class="table">
              <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">UF</th>
                    <th scope="col">Time</th>
                    <th scope="col">Escudo</th>
                  </tr>
              </thead>
              <tbody *ngFor="let time of times">
                  <tr>
                    <td><input type="radio" id="timeselecionado" required name="grouptime" value="{{time.id}}" [(ngModel)]="timeSelecionado"></td>
                    <td class="formatartexto">{{time.uf}}</td>
                    <td class="formatartexto">{{time.nomecompletodotime}}</td>
                    <td><img class="imageClass" src="../assets/images/{{time.chave}}.png"/></td>
                  </tr>
              </tbody>  
          </table>
          <div class="float-md-right">
              <button type="button" [disabled]="frm.invalid" class="btn btn-primary btn-primary-spacing" (click)="votar(frm)">Votar</button>
           </div>
       </div>
      </div>
    </span>
</form>
<br>
<span *ngIf="retornaMensagemVotacao">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="finalizarvotar()">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Obrigado!</strong> Seu voto foi computado com sucesso.
    </div>
</span>

<span *ngIf="retornaApuracaoVotacao">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="finalizarvotar()">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>Atenção!</strong> O time mais votado {{time.nomecompletodotime}} com {{time.votos}} votos.
        </div>
</span>

<div class="row">
    <div class="col-md-12">
        <div class="float-md-right">
          <button type="button" class="btn btn-primary btn-primary-spacing" (click)="apuracao()">Apuração</button>
        </div>
    </div>
</div>