<div class="card text-center" *ngIf="time">
  <div class="card-header">
    <h5 class="card-title">{{time.nomecompletodotime}}</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
         <p class="text-spacing" align="left"><b>UF:</b> {{time.uf}}</p>
         <p class="text-spacing" align="left"><b>Nome:</b> {{time.nomedotime}}</p>
         <p class="text-spacing" align="left"><b>Fundação:</b> {{time.datafundacao  | date:'dd/MM/yyyy'}}</p>
         <p align="left">Cor(es): {{time.cores}}</p>
         <p class="text-spacing" align="left"><b>Estádio:</b> {{time.estadio}}</p>
         <p class="text-spacing" align="left"><b>Valor:</b> {{time.valor | currency:'BRL':'true'}}</p>
      </div>
      <div class="col-md-6">
          <p><img class="imageClass" src="../assets/images/{{time.chave}}.png"/></p>
      </div>
    </div>
  </div>
</div>